.def {
    border: 2px dotted orange;
    color: orange;
    width: 426px;
    height: 146px;
    float: right;
    margin-bottom: 20px;
}

.def h2 {
    padding: 14px 10px 0px 10px;
    font-size: 18px;
}

.def h3 {
    font-size: 16px;
    font-style: italic;
    padding: 6px 10px 0px 10px;
}

.def p {
    padding: 6px 10px 0px 10px;
}

.bio {
    margin-top: 20px;
}

.bio img {
    float: left;
    width: 150px;
}

.bio-text {
    width: 430px;
    float: right;
}

.bio p {
    margin-top: 0px;
}

.bio::after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.tent a {
    color: dodgerblue;
}

.tent a:hover {
    text-decoration: underline;
}

.tent a:visited {
    color: dodgerblue;
    font-size: 16px;
}

.note img {
    height: 1em;
}