.def {
    border: 2px dotted midnightblue;
    color: midnightblue;
    margin-top: 20px;
    padding: 10px;
}

.def h2 {
    font-size: 18px;
}

.def h3 {
    font-size: 16px;
    font-style: italic;
}

.def p {
    margin-top: 10px;
}

.bio {
    margin-top: 20px;
    height: 150px;
}

.bio img {
    float: left;
}

.bio p {
    margin-top: 0px;
    width: 430px;
    float: right;
}

.bio i {
    font-weight: bold;
}

.tent a {
    color: dodgerblue;
}

.tent a:hover {
    text-decoration: underline;
}

.tent a:visited {
    color: dodgerblue;
    font-size: 16px;
}

.note img {
    height: 1em;
}