* {
    margin: 0px;
    padding: 0px;
    font-family: 'FreeSans', Helvetica, Arial, sans-serif;
}

p,a,i {
    font-family: 'FreeSerif', serif;
}

body {
    background-color: lightgray;
}

.navbar a, .footer p, .footer a {
    font-family: 'FreeSans', Helvetica, Arial, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: lemonchiffon;
    margin-top: 0px;
    padding-top: 6px;
    border-bottom: 1px solid goldenrod;
}
  
.navbar a {
    float: left;
    color: goldenrod;
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
}
  
.navbar a:hover {
    color: yellowgreen;
}

.main-contain {
    width: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}

.title-bar {
    height: 160px;
    position: relative;
}

.title-bar canvas {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
}

.title-bar h1 {
    position: absolute;
    z-index: 1;
    color: white;
    margin-left: 40px;
    margin-top: 130px;
}

.title-bar h1::after {
    content: "";
    display: inline-block;
    height: 30px;
}

.title {
    color: grey;
    margin-top: 20px;
}

.baseline {
    height: 60px;
    position: relative;
    overflow: hidden;
}

.baseline-dummy {
    position: absolute;
    left: 0px;
    top: 50px;
    height: 0px;
    width: 600px;
    z-index: 1;
}

.title {
    border-bottom: 1px solid lightgray;
}

.title h1 {
    font-size: 16px;
    color: red;
}

.title h2 {
    font-size: 16px;
    color: lightgray;
    padding-top: 4px;
}

.tent {
    margin-bottom: 40px;
}

.flex-photos {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.flex-photos a {
    margin: 0px 10px 10px 0px;
}

.flex-photos img {
    border: 1px solid lightgray;
    width: 166px;
    vertical-align: middle;
}

.flex-photos h4 {
    font-size: 14px;
    color: lightgray;
    font-style: italic;
    width: 66px;
}

.noshow {
    visibility: hidden;
}

.tent p {
    margin-top: 20px;
}

.tent a {
    color: dodgerblue;
    text-decoration: none;
}

.tent a:hover {
    text-decoration: underline;
}

.tent a:visited {
    color: dodgerblue;
}

.footer {
    font-size: 14px;
    background-color: lemonchiffon;
    color: goldenrod;
    padding: 6px 10px 0px 10px;
    height: initial;
    border-bottom: 1px solid goldenrod;
}

.alignright {
    float: right;
}

.footer a {
    color: goldenrod;
    text-decoration: none;
}

.footer a:visited {
    color: goldenrod;
    text-decoration: none;
}

.footer a:hover {
    color: yellowgreen;
    text-decoration: none;
}