/*
---------- dropdown styles ----------

example from:
https://www.w3schools.com/howto/howto_css_dropdown.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar
*/

.navbar {
    overflow: hidden;
    background-color: lemonchiffon;
    margin-top: 0px;
    padding-top: 6px;
    border-bottom: 1px solid goldenrod;
}
  
.navbar a {
    float: left;
    color: goldenrod;
    text-decoration: none;
    padding-left: 10px;
    font-size: 14px;
}
  
.dropdown {
    float: left;
    overflow: hidden;
    font-size: 14px;
}
  
.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    color: goldenrod;
    background-color: inherit;
    font-family: inherit;
    padding-left: 10px;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    color: yellowgreen;
}
  
.dropdown-content {
    border-top: 1px solid goldenrod;
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: lemonchiffon;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: goldenrod;
    padding-top: 6px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid goldenrod;
}
  
.dropdown-content a:hover {
    color: yellowgreen;
}

.dropdown-content img {
    height: 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
---------- main styles ----------
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.main-contain {
    width: 600px;
    margin: auto;
}

.title-bar {
    height: 160px;
    margin-top: 20px;
    position: relative;
}

.title-bar canvas {
    margin: 0px;
    padding: 0px;
    display: block;
    position: absolute;
}

.title-bar h1 {
    position: absolute;
    z-index: 1;
    vertical-align: baseline;
    color: white;
    margin-left: 40px;
}

.title-bar h1::after {
    content: "";
    display: inline-block;
    height: 160px;
}

.title {
    color: grey;
    margin-top: 20px;
}

.baseline {
    height: 60px;
    position: relative;
    overflow: hidden;
}

.baseline-dummy {
    position: absolute;
    left: 0px;
    top: 50px;
    height: 0px;
    width: 600px;
    z-index: 1;
}

.title {
    border-bottom: 1px solid lightgray;
}

.title h1 {
    font-size: 16px;
    color: red;
}

.title h2 {
    font-size: 16px;
    color: lightgray;
    padding-top: 4px;
}

.versions ul {
    list-style: none;
    padding: 10px;
}

.versions a {
    color: dodgerblue;
    text-decoration: none;
    font-family: serif;
}

.versions a:hover {
    text-decoration: underline;
}

.tent {
    padding-top: 0px;
    margin-bottom: 40px;
}

.flex-photos {
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.flex-photos a {
    margin: 0px 10px 10px 0px;
}

.flex-photos img {
    border: 1px solid lightgray;
    width: 158px;
    vertical-align: middle;
}

.flex-photos h4 {
    font-size: 14px;
    color: lightgray;
    font-style: italic;
    width: 68px;
}

.noshow {
    visibility: hidden;
}

.tent p {
    margin-top: 20px;
    font-family: serif;
}

.tent a {
    font-family: serif;
    color: dodgerblue;
    text-decoration: none;
}

.tent a:hover {
    text-decoration: underline;
}

.tent a:visited {
    font-family: serif;
    color: dodgerblue;
}

.sources {
    margin-bottom: 40px;
}

.sources h1 {
    color: lightgray;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
}

.sources p {
    padding: 10px;
    font-family: serif;
}

.footer {
    font-size: 14px;
    background-color: lemonchiffon;
    color: goldenrod;
    margin-bottom: 20px;
    padding: 6px 10px 0px 10px;
    height: initial;
    border-bottom: 1px solid goldenrod;
}

.alignright {
    float: right;
}

.footer a {
    color: goldenrod;
    text-decoration: none;
}

.footer a:visited {
    color: goldenrod;
    text-decoration: none;
}

.footer a:hover {
    color: yellowgreen;
    text-decoration: none;
}