.flex-merch {
    margin-top: 20px;
    padding: 10px 10px 0px 10px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.flex-merch a {
    margin: 0px 10px 10px 0px;
}

.flex-merch img {
    border: 1px solid white;
    width: 158px;
    vertical-align: middle;
}

.flex-merch h4 {
    font-size: 24px;
    color: white;
}